@page "/insurance-form"
@rendermode InteractiveServer
@using ProjectS5.Core.Contracts.Models
@inject NavigationManager navigationManager

@if (!showProgressBar)
{
    <div class="contract-form">
        <h5>Custom Smart Contract Creation</h5>
        <div class="form-instructions">
            <p>Please provide the details requested below to tailor your smart contract for supply chain management.</p>
        </div>
        <br />
        <div style="width: 100%">
            <EditForm Model="@contractModel" OnValidSubmit="StartProgress" FormName="payment-contract">
                <DataAnnotationsValidator />

                <div class="form-group customize">
                    <label for="clientAddress">Insurance Policy ID:</label>
                    <InputText id="clientAddress" class="form-control" @bind-Value="contractModel.PolicyId" />
                    <ValidationMessage For="@(() => contractModel.PolicyId)" />
                </div>

                <div class="form-group customize">
                    <label for="invoiceId">Description:</label>
                    <InputText id="invoiceId" class="form-control" @bind-Value="contractModel.Description" />
                    <ValidationMessage For="@(() => contractModel.Description)" />
                </div>

                <div class="form-group customize">
                    <label for="invoiceId">Premium amount of the insurance policy:</label>
                    <InputNumber id="invoiceId" class="form-control" @bind-Value="contractModel.Premium" />
                    <ValidationMessage For="@(() => contractModel.Premium)" />
                </div>

                <div class="form-group customize" style="margin-bottom: 20px">
                    <label for="invoiceId">Coverage amount of the insurance policy:</label>
                    <InputNumber id="invoiceId" class="form-control" @bind-Value="contractModel.Coverage" />
                    <ValidationMessage For="@(() => contractModel.Coverage)" />
                </div>

                <button type="submit" class="btn-submit" style="margin: auto; width: auto">Generate</button>
            </EditForm>
        </div>
    </div>
}
else
{
    <LoadingComponent RedirectPage="insurance-contract" />
}

@code {
    InsuranceContractModel contractModel = new();
    private bool showProgressBar = false;

    private void StartProgress()
    {
        showProgressBar = true;
    }
}